body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 900;
  letter-spacing: -0.03em;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.App {
  text-align: center;
}

.hero-img {
  height: auto;
  width: 100%;
  min-height: 100%;
  filter: brightness(60%);
}

#tickerbox {
  padding: 25px;
  margin: 1px black;
  background-color: whitesmoke;
  max-width: 100%;
}

#step-four {
  margin-top: -15px;
}

#tickerbox:hover,
#tickerbox:dropDownData {
  color: #131313 !important;
  background-color: #fffafa;
}

#tickerbox:focus {
  background: blue;
}

.form-control:focus {
    border-color: blueviolet;
    outline: 10;
    box-shadow: inset 0 1px 1p rgba(54, 3, 9, 0.3);
    max-width: 100%;
}

.date-slider {
  height: 100px;
  color: white;
}

.welcome {
  color: #fffafa;
  animation: fadein 3s;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%,0);
}

.header-text {
  font-size: 110px;
  letter-spacing: -0.03em;
  font-weight: 900;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#start-btn {
  position: relative;
  top: 100px;
  display: inline-block;
  width: 600px;
  font-weight: bold;
  font-size: 30px;
  padding: 12px;
  color: #fffafa;
  background: none;
  border: 3px solid #fffafa;
  text-align: center;
  outline: none;
  text-decoration: none;
  transition: background-color 0.2s ease-out,
              color 0.2s ease-out;
}

#start-btn:hover,
#start-btn:active {
  background-color: #fffafa;
  color: #131313;
  transition: background-color 0.2s ease-in,
              color 0.2s ease-in;
}

#get-graph-btn,
#get-data-btn {
  position: relative;
  top: 25px;
  display: inline-block;
  width: 600px;
  font-weight: bold;
  padding: 12px;
  color: #131313;
  background: none;
  border: 3px solid #131313;
  text-align: center;
  outline: none;
  text-decoration: none;
  transition: background-color 0.2s ease-out,
              color 0.2s ease-out;
}

#get-graph-btn:hover,
#get-graph-btn:active,
#get-data-btn:hover,
#get-data-btn:active {
  background-color: #131313;
  color: #fffafa;
  transition: background-color 0.2s ease-in,
              color 0.2s ease-in;
}

#intro-paragraph {
  color: #fffafa;
  font-size: 32px;
  animation: fadein 5s;
  position: relative;
  top: -180px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#top-of-two {
  padding-top: 25px;
}

.panel-title {
  font-size: 32px !important;
  background: #100c08;
  color: #fffafa !important;
}

.panel-body {
  min-height: 480px;
  background: #131313;
  color: #fffafa;
}

#myChart {
  padding: 25px;
}

@keyframes fadein {
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}

#graph {
  padding-top: 300px;
}

/*.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}*/

/*@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}*/
